@using MTGCommanderDeckBuilderMVC.Models

@model UserPO
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Main.css">
</head>
<body>
    @if (TempData["Message"] != null)
    {
        <h5>@TempData["Message"]</h5>
    }
    <div class="row col-md-12">
        <h2>Change Password</h2>
    </div>
    @using (Html.BeginForm("Update", "Account", FormMethod.Post))
    {
        <div class="form">
            @Html.HiddenFor(model => Model.UserID)
            @Html.HiddenFor(model => Model.RoleID)
            @Html.HiddenFor(model => Model.Username)
            @Html.HiddenFor(model => Model.FirstName)
            @Html.HiddenFor(model => Model.LastName)
            @Html.HiddenFor(model => Model.EmailAddress)
            <div class="form-horizontal">
                @Html.LabelFor(model => Model.Password)
                <div class="form-group">
                    @Html.PasswordFor(model => Model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => Model.Password, "", new { @class = "label label-danger" })
                </div>
            </div>
            <input type="submit" value="Update Password" onclick="return confirmUpdate()" />
        </div>
    }
</body>
<script src="~/Scripts/Main.js"></script>


